*{
    box-sizing: border-box;
}
body{
    margin:0;
}
.bg-img{
    background-image: url(../assets/images/adresbg-2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    vertical-align: middle;
    height:auto;
    box-sizing: inherit;
    width: 100%;
    position: relative;
}
.login{
    width: 100px;
    border-radius: 25px;
    border:1px white solid;
    background-color:transparent;
    color: white;
    font-weight: 600;
    margin: 20px;
    float: right;
}
.login:hover{
    background:transparent;
}
.heading{
    padding-top:10%;
    font-weight: 650;
}
.sub-txt{
    font-size:22px;
    font-weight: 450;
    padding-top:20px;
}
.register{
    width:300px;
    border-radius:10px;
    margin-top: 20px;
}
.reg-div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.white-box{
    background-color: white;
    height: 250px;
    width:60%;
    border-radius:8px;
    border:1px solid lightgray;
    box-shadow:0 0 10px 0 rgb(190, 190, 190);
}
.box-parent{
    width: 100%;
    height:400px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.box-txt{
    color:rgb(118 124 143);
    font-size: 18px;
    font-weight: 400;
}
.fa-circle-check{
    background-color:white;
    color: rgb(4, 161, 4);
    border-radius:3px;
    
}