@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.Header {
    background-image: url(../assets/images/bgimg.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 65vh;
    width: 100%;
    position: relative;

}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}

.underline {
    text-decoration: none;
}


.gettheapp {
    color: white;
    font-size: 18px;
    padding-left: 230px;
}

.Right {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding-right: 260px;
}

.Right>span {
    color: white;
    font-size: 18px;
}

@media screen and (min-width:800px) {
    .responsive {
        display: none;
    }
}


@media screen and (min-width:500px) and (max-width:800px) {
    .responsive {
        display: block;
    }
}
@media screen and (max-width:800px) {
    .menu {
        display: none;
    }
}

@media screen and (min-width:800px) and (max-width:1100px)  {
    .Right {
        display: flex;
        justify-content: space-evenly;
        gap: 40px;
        padding-right: 20px;
        
    }
}
@media screen and (min-width:800px) and (max-width:1100px)  {
    .gettheapp {
        padding-left: 20px;
    }
}
@media screen and (min-width:800px) {
    .logo>h1 {
        text-align: center;
    }
}
@media screen and (min-width:500px) and (max-width:1100px){
    
.location-tracker {
    height: 30PX;
    width: 600px;
    border-radius: 8px;
}

.searchbox {
    width: 200px;
}

.search-field {
    
    width: 200px;
    

}
}



.logo {
    position: absolute;
    top:50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.logo>img {
    max-width: 400px;
    height: 150px;
    top:85px;
    margin-bottom:20px;

}

.logo>h1 {
    color: white;
}

.location-tracker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 55PX;
    width: 800px;
    border-radius: 8px;
    background-color: white;
    color: #888787;
    margin-top:20px;
}


.drop-button{
    
    padding-right: 30px;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    width: 25px;
}

button:hover {
    background-color: #0056b3;
}

p {
    
    font-size: 18px;
}

.error {
    color: red;

}

.location {
    font-size: 20px;
    color: rgb(241, 146, 146);
}

.dropdown-toggle {
    font-size: 30px;
    color: #888787;
}

.searchbox {
    background-color: white;
    width: 400px;
    color:#888787;
}

.search-field {
    outline: none;
    width: 400px;
    border: none;
    background-color: white;
}
